refrence/1707.01495.pdf
result.npy
target.npy
0319encoder.pkl
test.pkl
__pycache__/dataset.cpython-37.pyc
__pycache__/DIModel.cpython-37.pyc
refrence/qian2014.pdf
20200411encoder.pkl
20200413encoder_452.pkl
20200413encoder.pkl
rul_result.pkl
rul_target.pkl
model/*
fig/*
20200420encoder.pkl
20200423encoder.pkl
20200424encoder.pkl
20200425encoder.pkl
20200426encoder.pkl
20200427encoder.pkl
20200512rul_result.pkl
20200512rul_target.pkl
20200513encoder.pkl
20200514rul_result.pkl
20200514rul_target.pkl
20200527encoder.pkl
20200528encoder.pkl
20200529encoder.pkl
20200530encoder.pkl
20200531encoder.pkl
20200601encoder.pkl
20200602encoder.pkl
IR014_0.mat
IR014_3.mat
log_fig_1.png
log_fig_2.png
OR007@6_0.mat
PositionDecoder.pkl
RUL_Decoder.pkl
RUL_Encoder.pkl
rul_result_20200613_test.pkl
rul_target_20200613_test.pkl
TimeEncoder.pkl
.vscode/.ropeproject/objectdb
__pycache__/binTransfer.cpython-37.pyc
__pycache__/rul_encoder.cpython-37.pyc
__pycache__/testdecoder.cpython-37.pyc
